<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.officesmile.mapper.auth.AuthMapper">
    <!-- auth_idを基に特定のユーザーを検索 -->
    <select id="userSearchByAuthId" resultType="com.example.officesmile.infrastructure.dto.UserDTO" parameterType="Long">
        SELECT
            users.user_id,
            users.user_name,
            auths.auth_id,
            auths.password,
            auths.authority,
            roles.role_name
        FROM
            auths
        INNER JOIN users
            ON auths.user_id = users.user_id
        INNER JOIN user_role
            ON users.user_id = user_role.user_id
        INNER JOIN roles
            ON user_role.role_id = roles.role_id
        WHERE
            auths.auth_id = #{id}
    </select>

    <!-- 登録 -->
    <insert id="store" parameterType="com.example.officesmile.domain.entity.auth.AuthEntity">
        INSERT INTO auths (
            auth_id,
            password,
            authority,
            user_id
        ) VALUES (
            #{authId},
            #{password},
            #{authority},
            #{userId}
        )
    </insert>
</mapper>
