<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::main}, _)}"
>
<head>
    <meta charset="UTF-8">
    <title>帰社登録</title>
</head>
<body>
<main>
    <div class="container mx-auto flex">
        <div class="md:w-1/2 p-8 flex flex-col mx-auto w-full mt-10 md:mt-0 relative z-10">
            <p class="text-xl text-center">
                帰社登録ありがとうございます。<br>
                ログアウトしてからごゆっくりとお過ごしください。
            </p>
            <p class="text-xl text-center mt-4">
                お帰りの際はお手数ですが<br>
                帰宅登録をお願いいたします。
            </p>
            <form th:action="@{/going-homes}" method="post">
                <button class="block text-white bg-indigo-500 border-0 py-2 w-1/3 mt-6 mx-auto px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">帰宅</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>