<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
>
<head>
    <meta charset="UTF-8">
</head>
<body>
<header class="bg-slate-50" th:fragment="header">
    <div class="flex justify-between w-1/2 mx-auto p-5">
        <div class="flex">
            <h1><a th:href="@{/}">OfficeSmile</a></h1>
            <nav class="ml-10 text-gray-400" th:if="${#authorization.expression('isAuthenticated()')}">
                <ul class="flex">
                    <li>
                        <a th:href="@{/}"
                           th:classappend="${requestURI == '/returning-to-works' || requestURI == '/going-homes' || requestURI == '/sitemap'}
                           ? text-slate-700
                           : ''"
                        >
                            トップ
                        </a>
                    </li>
                    <li class="ml-5">
                        <a href="" th:classappend="${requestURI == '/history'} ? text-slate-700 : ''">
                            履歴
                        </a>
                    </li>
                    <li class="ml-5" sec:authorize="hasAuthority('ADMIN') || hasAuthority('SUPER_USER')">
                        <a href="../user/signup.html" th:href="@{/users/signup}" th:classappend="${requestURI == '/users/signup'} ? text-slate-700 : ''">
                            ユーザー作成
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="flex" th:if="${#authorization.expression('isAuthenticated()')}">
            <div th:text="${#authentication.name}">
                The value of the "name" property of the authentication object should appear here.
            </div>
            <form th:action="@{/logout}" method="post" class="ml-5">
                <button>ログアウト</button>
            </form>
        </div>
    </div>
</header>
</body>
</html>