<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
</head>
<body>
<header class="bg-slate-50" th:fragment="header">
    <div class="flex justify-between w-1/2 mx-auto p-5">
        <div class="flex">
            <h1><a th:href="@{/}">OfficeSmile</a></h1>
            <nav class="ml-10">
                <ul class="flex">
                    <li>
                        <a th:href="@{/}">
                            トップ
                        </a>
                    </li>
                    <li class="ml-5">
                        <a href="">
                            履歴
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="flex">
            <span>名前</span>
            <form th:action="@{/logout}" method="post" class="ml-5">
                <button>ログアウト</button>
            </form>
        </div>
    </div>
</header>
</body>
</html>