<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::main}, _)}"
>
<head>
    <meta charset="UTF-8">
    <title>帰社登録</title>
</head>
<body>
<main>
    <div th:if="${message}" id="flashMessage" class="w-1/4 absolute z-20 -translate-x-1/2 inset-x-2/4 top-4">
        <p th:text="${message}" class="bg-red-300 text-white rounded p-5 text-center"></p>
    </div>
    <div class="container mx-auto flex">
        <div class="md:w-1/2 p-8 flex flex-col mx-auto w-full mt-10 md:mt-0 relative z-10">
            <p class="text-xl text-center">
                お疲れ様です！！<br>
                帰社登録をお願いいたします。
            </p>
            <form th:action="@{/returning-to-works}" method="post" th:object="${returningToWorkForm}">
                <div class="relative mt-4">
                    <label for="reasonSummaryId" class="leading-7 text-sm text-gray-600">帰社理由</label>
                    <select th:field="*{reasonSummaryId}" th:errorclass="border-rose-600" id="reasonSummaryId" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-3 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        <option value="1">面談</option>
                        <option value="2">自主学習</option>
                        <option value="3">遊びに来ただけ</option>
                        <option value="4">その他</option>
                    </select>
                    <p  class="text-red-400" th:if="${#fields.hasErrors('reasonSummaryId')}" th:errors="*{reasonSummaryId}">
                </div>
                <div class="relative mt-4">
                    <label for="reasonDetail" class="leading-7 text-sm text-gray-600">詳細(任意)</label>
                    <textarea id="reasonDetail" name="reasonDetail" cols="10"
                              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-3 px-3 leading-8 transition-colors duration-200 ease-in-out"
                              placeholder="xxさんに会いに来た&#13;xxのカリキュラム学習など"
                    ></textarea><!--/* 間に合わせで非推奨。開業するにはJSやCSSを使う必要がありそう */-->
                </div>
                <button class="block text-white bg-indigo-500 border-0 py-2 w-1/3 mt-6 mx-auto px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">登録</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>